<li class="flex items-center mb-2 border-gray-500 cursor-pointer <%= choice.correct? ? "bg-emerald-600" : "" %>">
  <span class="w-12 py-2 mr-1 font-bold text-center"><%= num_to_letter(choice_counter).upcase %>.</span>
  <%= choice.content %>
</li>
