<div>
  <h2 class="p-4 mb-4 bg-gray-900 text-2xl">
    Summary of Flashcard Deck:<br/>
    <%= @user_deck.deck.title %>
  </h2>
  <div class="flex gap-4">
    <div class="w-1/3 p-4 bg-gray-900 rounded-lg h-64">
      <h3 class="text-lg border-b-2 border-gray-800">Number of Cards Reviewed</h3>
      <div class="flex border h-full">
        04/20
      </div>
    </div>
    <div class="w-2/3 p-4 bg-gray-900 rounded-lg h-64">
      <h3 class="text-lg border-b-2 border-gray-800">Outcomes of Review</h3>
    </div>
  </div>
</div>