<li class='border-b pb-2 mb-4'>
  <div>
    <%= answer_sheet_question.question.content %>
  </p>
  <div class=''>
    <p class='italic bg-emerald-500 text-black px-1'>
      <%= answer_sheet_question.answer.content %>
    </p>
  </div>
</div>
</li>