<li class='border-b border-gray-700 pt-2 pb-3 mb-2'>
  <div>
    <%= answer_sheet_question.question.content %>
  </p>
  <div class=''>
    <p class='italic bg-emerald-500 text-black px-1'>
      <%= answer_sheet_question.answer.content %>
    </p>
  </div>
</div>
</li>