<li class='border-b border-gray-700 pt-2 pb-3 mb-2'>
  <div>
    <%= answer_sheet_question.question.content %>
  </p>
  <div class=''>
    <p class='italic bg-alert text-white px-1 mb-2'>
      Your answer: <%= answer_sheet_question.answer.content %>
    </p>
    <p class='italic bg-success text-black px-1'>
      Correct: <%= answer_sheet_question.question.choices.detect(&:correct).content %>
    </p>
  </div>
</li>