<%= render "shared/breadcrumbs" %>
<section>
  <div class="flex items-center mb-4">
    <h2 class="text-2xl font-semibold">Your Quizzes</h2>
    <%= link_to new_author_quiz_path(@quiz), class: "flex btn rounded ml-auto hover:btn-success transition ease-in-out duration-500" do %>
      <%= render_icon "plus" %>
      <span class="ml-2">Create Quiz</span>
    <% end %>
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-3 py-3">
            Title
          </th>
          <th scope="col" class="px-3 py-3">
            Description
          </th>
          <th scope="col" class="px-3 py-3 text-right">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% @quizzes.each do |quiz| %>
          <%= render 'quiz', author: @author, quiz: %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
