<div class="mb-6">
  <ol class="flex px-2 text-sm border-t border-b border-gray-800">
    <% breadcrumbs.each.with_index(1) do |breadcrumb, index| %>
      <li class="">
        <%= breadcrumb_item(breadcrumb, last_item: index == breadcrumbs.size) %>
      </li>
    <% end %>
  </ol>
</div>
