<% if defined?(resource) && resource&.errors.any? %>
  <%= render "shared/flash_wrapper", flash_type: "alert" do %>
    <p>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
  <% end %>
<% end %>
