<%= msg %>

<button 
  type="button"
  class="flex ml-auto items-center justify-center rounded-full top-0 w-8 h-8 p-2 right-0 text-xl <%= flash_button_class(key) %>"
  data-action="click->flash#onClick"
  >
  <span class="font-bold text-white">&times;</span>
</button>
