<% if flash.any? %>
  <% flash.each do |key, content| %>
    <div
      class="absolute flex items-center p-2 w-full mb-4 text-sm rounded <%= flash_class(key) %>"
      data-controller="flash"
      >
        <% Array(content).each do |msg| %>
            <%= render "shared/flash_msg", key: key, msg: msg %> 
        <% end %>
      </div>
  <% end %>
<% end %>

