<% if flash.any? %>
  <% flash.each do |key, content| %>
    <% Array(content).each do |msg| %>
      <%= render "shared/flash_wrapper" do %>
        <p><%= msg %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
