<% flash.any? && flash.each do |flash_type, content| %>
  <% Array(content).each do |msg| %>
    <%= render "shared/flash_wrapper", flash_type: do %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
<% end %>