<div class="bg-gray-800">
  <div class="flex bg-gray-800 px-4 py-3 mx-auto max-w-screen-xl">
    <div class="left-column flex items-center">
      <div class="rounded-full bg-white h-8 w-8"></div>    
      <div class="ml-4">
        <a href="<%= dashboard_user_path(current_user) %>">
          <p class="border-b border-gray-600"><%= "Nick-Damico" %></p>
          <p class="text-xs uppercase font-light text-gray-400"><%= "padawan" %></p>
        </a>
      </div>
    </div>


    <div class="flex right-column ml-auto">
      <span class="vertical-separator bg-gray-900 h-100 w-[1px] mr-8"></span>
      <%= link_to "Continue your streak >", root_path, class: "flex items-center bg-green-700 border-b-4 border-green-600 rounded px-8 py-2" %>
    </div>
  </div>
</div>
